<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script type="text/javascript" th:src="@{layui/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
</head>
<body th:style="'background:url(' + @{layui/images/a.jpg} + ');'">
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md6" style="padding: 100px;margin-left:280px;margin-top:50px;color: white";>
            <form class="layui-form" action="" onsubmit="return check()">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="font-size: 16px">
                        用户名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" id="username" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="font-size: 16px">
                        密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" id="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <br>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo" onclick="submit_from()">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    // 验证表单数据是否符合条件，不符合返回false禁止提交
    function check() {
        return false;
    }

    function submit_from(){
        var username = $("#username").val();
        var password = $("#password").val();
        $.ajax({
            url:"http://localhost:8080/userLogin",
            data: {
                "username":username,
                "password":password
            },
            success: function (data) {
                console.log(data)
            }
        })
    }
</script>
</html>
